.screen {display:none}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
}

#cv h1,#cv h2,#cv h3,#cv h4,#cv h5,#cv h6, #cv p { margin:0; padding: 0; clear:both;}
#cv h1,#cv h2,#cv h3 { 	padding: 0 1ex; font: bold 12pt 'Ubuntu', sans-serif; }

body, #cv h4, #cv p, #cv a, #cv address { font: 12pt serif; }

body > header > h1 {
    text-align: right;
    font: bold 25pt 'Ubuntu', sans-serif;
    margin: 0;
}
body > header > h2 {
    text-align: right;
    font: 12.3pt 'Ubuntu', sans-serif;
    margin: 0;
}

#cv address { display:block; }

#cv a { color : black; font-weight :  bold; }

#cv blockquote { margin: 0 0 0 0; padding: 0; }
#cv div p { padding: .25ex 1ex .5ex 4em; }
.content {
    margin-top: 24pt;
    page-break-inside: avoid;

}
.content section {
    page-break-inside: avoid;
}
#cv h1 {
    background-color : #B0B0B0;
    text-align : right;
    font-size : 200%;
    font-style : italic;
    font-variant : small-caps;
}
#cv h2  {
    background-color : #D8D8D8;
    font-size : 133%;
    font-variant : small-caps;
}

#cv h3  {
    background-color : #E8E8E8;
    padding-left : 2em;
    font-size : 100%;
}

#cv h3 span {
    width : 8em;
    clear : both;
}

#cv h4  {
    float:left;
    padding : 0 0 0 0;
    width : 9em;
    text-align : right;
    font-weight : bold;
}

#cv p, #cv address  {
    margin: 0;
    padding: 0 7px 0 10em;
}
#cv p { margin:0.5em 0;
margin-bottom: 16pt; }

#cv div.pi  {
    padding : 5px 7px 8px 0;
    font-size : 120%;
}

body {margin:auto; width:80ex;}
#cv h2 { border-bottom: 1px solid black; }
#cv h2, #cv h3 { page-break-after: avoid; }
#cv p { page-break-inside: avoid; orphans: 10; widows:10;}


.content  img {
    vertical-align: top;
    display: block;
    float: left;
}
