html {
    width: 100%;
    height: 100%;
}
body {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
body > header {
    position: absolute;
    width: calc(100% - 100vh);
    min-width: 500px;
    margin: 8vh 5vh;
}
body > header > h1 {
    margin: 0;
    display: inline-block;
}
body > header > h2 {
    margin: 0;
    display: inline-block;
}
.print {
    display: none;
}
#cv {
    box-sizing: border-box;
    position: fixed;
    top: 38vh;
    bottom: 5vh;
    left: 5vh;
    width: calc(100% - 100vh);
    min-width: 500px;
}
.content {
    position: absolute;
    box-sizing: border-box;
    display:block;
    margin: 0;
    border-radius: 6px;
    /*border: 10px solid #5A002D;*/
    border: 10px solid;
    width: 100%;
    overflow-y: auto;

    height: 0;
    transition: opacity 0.5s, height 0.5s;
}
.content:target {
    height: 100%;
}
.content h2 {
    margin: 0;
    padding: 1vh 2vh;
}
.content h3 {
    margin: 0 0 1vh 0;
    padding: 0 3vh;
    clear: both;
}
.content h4 {
    float: left;
    margin: 0 0;
    padding: 1.5vh 0vh 0 0vh;
    width: 18vh;
}
.content p {
    margin: 0;
    padding: 1vh 4vh;
}
.content address {
    display: block;
    margin-left: 20vh;
    padding: 1.5vh 0;
}
.content  img {
    vertical-align: top;
    display: block;
    float: left;
}
#menu {
    padding: 0;
}
#menu a {
    vertical-align: top;
    display: inline-block;
    margin: auto;
    width: 16%;
}
#menu img {
    height: 48px;
    transition: height 0.5s;
}
#menu a:hover img {
    height: 64px;
}
#menu h3 {
    margin: 0;
    padding: 0;
    transition: color 0.5s, font-size 0.5s, opacity 0.5s;
}
::-webkit-scrollbar
{
    width: 6px;  /* for vertical scrollbars */
    height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    border-radius: 3px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 3px;
}

/* typography */

html.typo1 html {
    font-family: 'Ubuntu', sans-serif;
}
html.typo1 body > header {
    text-align: center;
    text-shadow: 2px 2px 8px black;
}
html.typo1 body > header > h1 {
    font-weight: 500;
    font-size: 30px;
}
html.typo1 body > header > h2 {
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}
html.typo1 .content h2 {
}
html.typo1 .content h3 {
}
html.typo1 .content h4 {
    text-align: right;
}
html.typo1 .content p {
    font-weight: 400;
}
html.typo1 #menu a {
    text-decoration: none;
    text-align: center;
    vertical-align: top;
}
html.typo1 #menu h3 {
    font-size: 12px;
}
html.typo1 #menu a:hover h3 {
    font-size: 16px;
}

/* typography 2 */

html.typo2 {
    font-family: 'Ubuntu', sans-serif;
}
html.typo2 body > header {
    text-align: center;
    text-shadow: 2px 2px 8px black;
}
html.typo2 body > header > h1 {
    font-weight: 400;
    font-size: 57.6px;
}
html.typo2 body > header > h2 {
    font-weight: 200;
    font-style: italic;
    font-size: 29.7px;
}
html.typo2 .content h2 {
    font-weight: 400;
}
html.typo2 .content h3 {
    font-weight: 300;
}
html.typo2 .content h4 {
    text-align: right;
}
html.typo2 .content p {
    font-weight: 200;
    font-style: italic;
}
html.typo2 #menu a {
    text-decoration: none;
    text-align: center;
    vertical-align: top;
}
html.typo2 #menu h3 {
    font-size: 12px;
}
html.typo2 #menu a:hover h3 {
    font-size: 16px;
}


/* headers mod */
html.headers .content h2 {
    margin-bottom: 1vh;
}
html.headers .content h3 {
    margin: 0 1vh;
    padding: 0 3vh;
    border-radius: 6px;
}


/* color scheme 1 */

html.drk1 {
    background: #000318;
    color: white;
}
html.drk1 body > header > h2 {
    color: #B17E2C;
}
html.drk1 .content {
    background: rgba(255,255,255,0.75);
    border: 10px solid #500000;
    color:black;
    opacity: 0;
}
html.drk1 .content:target {
    opacity: 1;
}
html.drk1 .content h2 {
    background: #171C44;
    color: white;
}
html.drk1 .content h3 {
    background: #C6933F;
    color: black;
}
html.drk1 .content h4 {
}
html.drk1 .content p {
}
html.drk1 .content address {
}
html.drk1 #menu a:visited {
    color: white;
}
html.drk1 #menu h3 {
    color: white;
    opacity: 0;
}
html.drk1 #menu a:hover h3 {
    color: #B17E2C;
    opacity: 1;
}
html.drk1 ::-webkit-scrollbar
{
    background: none;
}

html.drk1 ::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

html.drk1 ::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

html.drk1 ::-webkit-scrollbar-thumb:hover
{
    background: rgba(0, 0, 0, 0.75);
}

/* color scheme 2 */

html.drk2 {
    background: #000318;
    color: white;
}
html.drk2 body > header > h2 {
    color: #B17E2C;
}
html.drk2 .content {
    background: rgba(40,40,40,0.75);
    border-color: #500000;
    color: #C7B9A2;
    opacity: 0;
}
html.drk2 .content:target {
    opacity: 1;
}
html.drk2 .content h2 {
    background: #000318;
    color: #9E6517;
}
html.drk2 .content h3 {
    background: #C6933F;
    color: black;
}
html.drk2 .content h4 {
}
html.drk2 .content p {
}
html.drk2 .content address {
}
html.drk2 #menu a:visited {
    color: white;
}
html.drk2 .content a {
    color: white;
}
html.drk2 #menu h3 {
    color: white;
    opacity: 0;
}
html.drk2 #menu a:hover h3 {
    color: #B17E2C;
    opacity: 1;
}
html.drk2 ::-webkit-scrollbar
{
    background: none;
}

html.drk2 ::-webkit-scrollbar-track
{
    background: none;
}

html.drk2 ::-webkit-scrollbar-thumb
{
    background: rgba(119, 80, 0, 0.67);
    border-radius: 3px;
}

html.drk2 ::-webkit-scrollbar-thumb:hover
{
    background: rgba(119, 80, 0, 0.9);
}

