html {
    font-family: sans-serif;
    background: #000318;
/*    background: linear-gradient(45deg, #807570 0%, #E0D0B5 100%);
    background: linear-gradient(45deg, #403530 0%, #E0D0B5 100%);
*/    color: white;
    -webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    width: 100%;
    height: 100%;
}
body {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    /*transform: translateZ(100px);*/
    overflow: hidden;
}
body > header {
    position: absolute;
    width: calc(100% - 100vh);
    min-width: 500px;
    margin: 8vh 5vh;
    text-align: center;
    text-shadow: 2px 2px 8px black;
}
body > header > h1 {
    font-weight: 500;
    font-size: 30px;
    margin: 0;
    display: inline-block;
}
body > header > h2 {
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    color: #B17E2C;
    display: inline-block;
}
.print {
    display: none;
}
#cv {
    box-sizing: border-box;
    position: fixed;
    top: 30vh;
    bottom: 5vh;
    left: 5vh;
    width: calc(100% - 100vh);
    min-width: 500px;
}
.content {
    position: absolute;
    box-sizing: border-box;
    display:block;
    margin: 0;
    background: rgba(255,255,255,0.75);
    border-radius: 6px;
    /*border: 10px solid #5A002D;*/
    border: 10px solid #500000;
    color:black;
    width: 100%;
    height: 0;
    overflow-y: auto;

    opacity: 0;
    transition: opacity 0.5s;
}
.content:target {
    opacity: 1;
    height: 100%;
}
.content h2 {
    background: #000318;
    color: white;
    margin: 0;
    padding: 1vh 2vh;
}
.content h3 {
    background: #B17E2C;
    color: black;
    margin: 0 0 1vh 0;
    padding: 0 3vh;
}
.content h4 {
    float: left;
    text-align: right;
    margin: 0 0;
    padding: 0 3vh;
    width: 12vh;
}
.content p {
    margin: 0;
    padding: 1vh 4vh;
}
.content address {
    display: block;
    margin: 0 0 1vh 18vh;
}
#menu {
    padding: 0;
}
#menu a {
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin: auto;
    width: 16%;
}
#menu a:visited {
    color: white;
}
#menu img {
    height: 48px;
    transition: height 0.5s;
}
#menu a:hover img {
    height: 64px;
}

#menu h3 {
    margin: 0;
    padding: 0;
    color: white;
    opacity: 0;
    font-size: 12px;
    transition: color 0.5s, font-size 0.5s, opacity 0.5s;
}
#menu a:hover h3 {
    color: #B17E2C;
    opacity: 1;
    font-size: 16px;
}
